<div layout="column" layout-padding>
    <div layout-gt-sm="row" layout="column">
        <tps-output-field field-data="personData.fnr" label="Fødselsnummer" flex-size="20" style-class="tps-long-response"></tps-output-field>
        <tps-output-field field-data="personData.kortnavn" label="Forkortet navn" flex-size="20" style-class="tps-long-response"></tps-output-field>
        <!--<tps-output-field field-data="personData.fornavn + ' ' + personData.mellomnavn +' ' + personData.etternavn" label="Fullt navn" flex-size="20" style-class="tps-long-response"></tps-output-field>-->
        <tps-output-field field-data="personData.spesregType" label="SpesReg" flex-size="10" style-class="tps-short-response"></tps-output-field>
        <tps-output-field field-data="personData.kodePersonStatus" label="Kode PS" flex-size="10" style-class="tps-short-response"></tps-output-field>
        <!--<span flex="20"></span>-->
    </div>
    <div layout-gt-sm="row" layout="column">
        <tps-output-field field-data="personData.fornavn" label="Fornavn" flex-size="20" style-class="tps-long-response"></tps-output-field>
        <tps-output-field field-data="personData.mellomnavn" label="Mellomnavn" flex-size="20" style-class="tps-long-response"></tps-output-field>
        <tps-output-field field-data="personData.etternavn" label="Etternavn" flex-size="20" style-class="tps-long-response"></tps-output-field>
        <!--<tps-output-field field-data="personData.fornavn + ' ' + personData.mellomnavn +' ' + personData.etternavn" label="Fullt navn" flex-size="20" style-class="tps-long-response"></tps-output-field>-->

        <!--<span flex="20"></span>-->
    </div>
    <!--<md-divider></md-divider>-->
    <div layout-gt-sm="row" layout="column">
        <tps-output-field field-data="personData.boAdresse1" label="Bostedsadresse 1" flex-size="20" style-class="tps-long-response"></tps-output-field>
        <tps-output-field field-data="personData.boAdresse2" label="Bostedsadresse 2" flex-size="20" style-class="tps-long-response"></tps-output-field>
        <tps-output-field field-data="personData.bolignr" label="Bolignr" flex-size="10" style-class="tps-short-response"></tps-output-field>
        <tps-output-field field-data="personData.personStatus" label="Person Status" flex-size="10" style-class="tps-short-response"></tps-output-field>
        <!--<span flex="40"></span>-->
    </div>
    <div layout-gt-sm="row" layout="column">
        <tps-output-field field-data="personData.postAdresse1" label="Post Adresse 1" flex-size="20" style-class="tps-long-response"></tps-output-field>
        <tps-output-field field-data="personData.postAdresse2" label="Post Adresse 2" flex-size="20" style-class="tps-long-response"></tps-output-field>
        <tps-output-field field-data="personData.postAdresse3" label="Post Adresse 3" flex-size="20" style-class="tps-long-response"></tps-output-field>
    </div>
    <div layout-gt-sm="row" layout="column">
        <tps-output-field field-data="personData.postnr" label="Postnr" flex-size="10" style-class="tps-short-response"></tps-output-field>
        <tps-output-field field-data="personData.boPoststed" label="Poststed" flex-size="20" style-class="tps-long-response"></tps-output-field>
        <tps-output-field field-data="personData.datoDo" label="Dødsdato" flex-size="10" style-class="tps-short-response"></tps-output-field>
        <tps-output-field field-data="personData.datoUmyndiggjort" label="Dato Umyndig" flex-size="10" style-class="tps-short-response"></tps-output-field>
        <!--<span flex="40"></span>-->
    </div>
    <!--<md-divider></md-divider>-->
    <div layout-gt-sm="row" layout="column">
        <tps-output-field field-data="personData.tknr" label="Tknr" flex-size="10" style-class="tps-short-response"></tps-output-field>
        <tps-output-field field-data="personData.tknrNavn" label="TkNavn" flex-size="20" style-class="tps-long-response"></tps-output-field>
        <tps-output-field field-data="personData.kommunenr" label="Knr" flex-size="10" style-class="tps-short-response"></tps-output-field>
        <tps-output-field field-data="personData.kommuneNavn" label="KomNavn" flex-size="20" style-class="tps-long-response"></tps-output-field>
        <tps-output-field field-data="personData.tidligereKommunenr" label="Tidligere knr" flex-size="10" style-class="tps-short-response"></tps-output-field>
        <tps-output-field field-data="personData.tidligereKNavn" label="Tidl.Komm.Navn" flex-size="20" style-class="tps-long-response"></tps-output-field>
    </div>
    <div layout-gt-sm="row" layout="column">
        <tps-output-field field-data="personData.kodeSivilstand" label="Kode Sivilist" flex-size="10" style-class="tps-short-response"></tps-output-field>
        <tps-output-field field-data="personData.sivilstand" label="Sivilstand" flex-size="10" style-class="tps-short-response"></tps-output-field>
        <tps-output-field field-data="personData.datoSivilstand" label="Dato Sivilstand" flex-size="10" style-class="tps-short-response"></tps-output-field>
        <tps-output-field field-data="personData.kodeInnvandretFra" label="Kode Innvandret" flex-size="10" style-class="tps-short-response"></tps-output-field>
        <tps-output-field field-data="personData.innvandretFra" label="Innvandret fra" flex-size="10" style-class="tps-short-response"></tps-output-field>
        <tps-output-field field-data="personData.datoInnvandret" label="Dato Innvdr." flex-size="10" style-class="tps-short-response"></tps-output-field>
        <tps-output-field field-data="personData.datoFlyttet" label="Flytte Dato" flex-size="10" style-class="tps-short-response"></tps-output-field>
        <!--<span flex="30"></span>-->
    </div>
    <div layout-gt-sm="row" layout="column">
        <tps-output-field field-data="personData.kodeStatsborger" label="Kode statsb." flex-size="10" style-class="tps-short-response"></tps-output-field>
        <tps-output-field field-data="personData.statsborger" label="Statsborger" flex-size="10" style-class="tps-short-response"></tps-output-field>
        <tps-output-field field-data="personData.datoStatsborger" label="Statsb. Dato" flex-size="10" style-class="tps-short-response"></tps-output-field>
        <tps-output-field field-data="personData.kodeUtvandretTil" label="Kode Utv.til" flex-size="10" style-class="tps-short-response"></tps-output-field>
        <tps-output-field field-data="personData.utvandretTil" label="Utvandret til" flex-size="10" style-class="tps-short-response"></tps-output-field>
        <tps-output-field field-data="personData.datoUtvandret" label="Dato Utvandret" flex-size="10" style-class="tps-short-response"></tps-output-field>
        <!--<span flex="40"></span>-->
    </div>
    <div layout-gt-sm="row" layout="column">
        <tps-output-field field-data="personData.tlfPrivat.tlfNummer" label="Tlf privat" flex-size="10" style-class="tps-short-response"></tps-output-field>
        <tps-output-field field-data="personData.tlfJobb.tlfNummer" label="Tlf jobb" flex-size="10" style-class="tps-short-response"></tps-output-field>
        <tps-output-field field-data="personData.tlfMobil.tlfNummer" label="Tlf mobil" flex-size="10" style-class="tps-short-response"></tps-output-field>
        <tps-output-field field-data="personData.epost.epostAdresse" label="E-postadr" flex-size="10" style-class="tps-short-response"></tps-output-field>
        <tps-output-field field-data="personData.giroInfo.giroNummer" label="Gironr" flex-size="10" style-class="tps-short-response"></tps-output-field>
        <tps-output-field field-data="personData.kodeFodeland" label="KodeFødeLand" flex-size="10" style-class="tps-short-response"></tps-output-field>
        <tps-output-field field-data="personData.fodeland" label="Fødeland" flex-size="10" style-class="tps-short-response"></tps-output-field>
        <!--<span flex="30"></span>-->
    </div>
</div>