<div layout="column" layout-padding>
    <div layout-gt-sm="row" layout="column">
        <tps-output-field field-data="personData.fnr" label="Fødselsnummer"></tps-output-field>
        <span flex="66"></span>
    </div>
    <div layout-gt-sm="row" layout="column">
        <tps-output-field field-data="personData.fornavn" label="Fornavn"></tps-output-field>
        <tps-output-field field-data="personData.mellomnavn" label="Mellomnavn"></tps-output-field>
        <tps-output-field field-data="personData.etternavn" label="Etternavn"></tps-output-field>
    </div>
    <div layout-gt-sm="row" layout="column">
        <tps-output-field field-data="personData.boAdresse1" label="Bostedsadresse 1"></tps-output-field>
        <tps-output-field field-data="personData.boAdresse2" label="Bostedsadresse 2"></tps-output-field>
        <tps-output-field field-data="personData.bolignr" label="Bolignummer"></tps-output-field>
    </div>
    <div layout-gt-sm="row" layout="column">
        <tps-output-field field-data="personData.postnr" label="Postnummer"></tps-output-field>
        <span flex="66"></span>
    </div>
</div>