<div layout="column" class="md-whiteframe-z2" flex>
    <md-sidenav md-component-id="left" class="md-sidenav-left" md-is-locked-open="$mdMedia('gt-md')">
        <md-content>
            <md-list class="side-navigator-list" layout="column" layout-align="start start">
                <md-list-item class="servicerutine-header-list-item">
                    <md-item-text layout="row" class="servicerutine-item-text">
                        <h3>Servicekategori 1</h3>
                    </md-item-text>
                    <md-divider></md-divider>
                </md-list-item>

                <md-list-item ng-repeat="serviceRutinenavn in serviceRutinenavns" class="servicerutine-list-item">
                        <md-button md-ripple-container class="md-primary servicerutine-button" ng-click="getRequestForm(serviceRutinenavn)"
                                   ui-sref="servicerutine({serviceRutinenavn: serviceRutinenavn})"
                                   ui-sref-active="activeMenuButton" tabindex="1">
                            {{ getServicerutineInternNavn(serviceRutinenavn) }}
                        </md-button>
                    <md-divider></md-divider>
                </md-list-item>
            </md-list>
        </md-content>
    </md-sidenav>
</div>
