<div class="testgrupper" layout="column" layout-padding ng-cloak>

    <!-- Resulting Response -->
    <form name="requestForm">

        <fieldset>
            <legend><h3>&nbsp;Testgrupper &nbsp; </h3></legend>

            <div ng-repeat="testgruppe in testgrupper">
                <div layout="row" flex="100" style="cursor: pointer">
                    <md-card flex>
                        <md-card-content class="testcard" flex md-whiteframe="{{height}}" ng-click="aapneFane(testgruppe.id)" style="padding-bottom: 0; padding-top: 10px;"
                            ng-init="height = 1" ng-mouseenter="height = 10" ng-mouseleave="height = 1">
                            <div layout="row" style="font-style: oblique; margin-top: -3px; margin-bottom: 7px;">
                                <div flex="25">{{testgruppe.navn}}</div>
                                <div flex="75">
                                    {{testgruppe.beskrivelse}}
                                </div>
                            </div>
                        </md-card-content>
                    </md-card>
                </div>
            </div>
        </fieldset>
    </form>

</div>