<script src="service-rutine.module.js"></script>
<div layout="column">
    <!-- For Persons found. -->
    <div flex-xs flex-gt-xs="60" layout="column">
        <md-item class="tps-vk-response" ng-show="personsData" ng-repeat="(key, person) in personsData | notEmpty">
            <md-item-content ng-init="paramsToShow = responseFormConfig[serviceRutineName].show">
                <md-card class="md-whiteframe-1dp tps-vk-response-card">
                    <!-- Results unexpanded -->
                    <div class="md-tile-content" ng-click="toggle = !toggle" layout="row" layout-align="start center">
                        <div flex="5">
                        </div>
                        <div flex="30" class="tps-vk-output-container">
                            <h3 class="tps-vk-response-card-header">{{person[paramsToShow[0]]}}, {{person[paramsToShow[1]]}}</h3>
                            <h4 class="tps-vk-output-label"> Adresse </h4>
                            <p class="tps-vk-output-data">{{ person[paramsToShow[2]]}}, {{person[paramsToShow[3]] }} {{person[paramsToShow[4]]}}</p>
                        </div>

                        <div flex="15" class="tps-vk-output-container">
                            <h2> &nbsp; </h2>
                            <h4 class="tps-vk-output-label"> Fødselsnummer </h4>
                            <p class="tps-vk-output-data" ng-show="person[paramsToShow[5]]">{{person[paramsToShow[5]]}}</p>
                            <p ng-show='(!person[paramsToShow[5]] )'> &nbsp; </p>
                        </div>
                        <div flex="15" class="tps-vk-output-container">
                            <h2 > &nbsp;  </h2>
                            <h4 class="tps-vk-output-label"> TK-nummer </h4>
                            <p class="tps-vk-output-data" ng-show="person[paramsToShow[6]]">{{ person[paramsToShow[6]] }}</p>
                            <p ng-show='(!person[paramsToShow[6]] || person[paramsToShow[6]] == " ")'> &nbsp; </p>
                        </div>
                        <div flex="15" class="tps-vk-output-container">
                            <h2> &nbsp; </h2>
                            <h4 class="tps-vk-output-label"> Kommune </h4>
                            <p class="tps-vk-output-data" ng-show="person[paramsToShow[7]] || person[paramsToShow[8]]">{{ person[paramsToShow[7]] }} {{ person[paramsToShow[8]] }}</p>
                            <p class="tps-vk-output-data" ng-show=" !(person[paramsToShow[7]] || person[paramsToShow[8]])"> &nbsp;</p>
                        </div>
                        <div flex="15" class="tps-vk-output-container" ng-show="person[paramsToShow[9]]">
                            <h2> &nbsp; </h2>
                            <h4 class="tps-vk-output-label"> NAV-Enhet </h4>
                            <p class="tps-vk-output-data">{{ person[paramsToShow[9]] }} {{ person[paramsToShow[10]] }}</p>
                        </div>
                        <!-- <div>
                            <ng-md-icon ng-show="!toggle" icon="expand_more" size="48" style="fill: black" ng-click="toggle = !toggle"></ng-md-icon>
                            <ng-md-icon ng-show="toggle" icon="expand_less" size="48" style="fill: black" ng-click="toggle = !toggle"></ng-md-icon>
                        </div> -->
                    </div>

                    <!-- Results expanded. create .less-->
                    <div style="border-top:1px solid lightgrey; padding-top: 30px;" ng-show="toggle" >
                        <div layout-gt-xs="row" ng-repeat="row in responseFormConfig[serviceRutineName].rows" class="md-title-content" layout-align="start center">
                            <div flex="5"> </div>
                            <div ng-repeat="field in row" flex="{{field.flex}}">
                                <tps-output-field  ng-show="person[field.fieldData]" label="{{field.label}}" field-model="person[field.fieldData]"> </tps-output-field>
                                <tps-output-field-no-value ng-show="!person[field.fieldData]" label="{{field.label}}"> </tps-output-field-no-value>
                            </div>
                        </div>

                    </div>

                </md-card>
            </md-item-content>
        </md-item>
    </div>
</div>

