<div id="tps-vk-header">

    <md-toolbar class="md-primary tps-vk-header-toolbar">

            <div class="md-toolbar-tools" layout="row" layout-align="start center">

                <!-- Logo -->
                <div flex="5" layout="row" layout-align="start center">
                    <img class="logo-image" src="assets/icons/nav-logo-hvit.png" style="height: 58px;">
                </div>

                <!-- App Name left corner -->
                <div class="tps-vk-header-default-container left-border" layout="row" layout-align="start center" flex="20">

                    <a ui-sref="servicerutine({serviceRutineName: null})" rel="home" >
                        <Sidetittel class="tps-vk-header-h1" clasName="blokk-xs">TPS-Forvalteren</Sidetittel>

                    </a>
                </div>

                <!-- Navigation Buttons -->
                <div class="tps-vk-header-default-container" layout="row" layout-align="start center" flex="50" >
                    <div layout-align="center">
                        <u class="tps-vk-header-route-text" ng-click="openGT()"> Geografisk tilknytning </u>

                    </div>

                    <div flex-gt-xs="5"></div>

                    <div layout-align="center">
                        <u class="tps-vk-header-route-text" ng-click="openVisTestdata()"> Testdata </u>
                    </div>
                </div>

                <!-- Upper right name and logout button -->
                <div class="tps-vk-header-default-container" flex="25" layout="row" layout-align="end center">
                    <div layout="column" class="tps-vk-user-info">
                        <div class="md-body-1">{{currentUser.username}}</div>
                    </div>

                    <div flex-gt-xs="5"></div>

                    <md-button id="tps-vk-logout-button" class="md-raised md-accent" ng-click="logout()" >
                        Logg ut
                    </md-button>

                </div>

            </div>
    </md-toolbar>
</div>
