<div class="tps-vk-service-rutine-dashboard tps-content" layout="column" flex layout-padding ng-cloak>

    <div class="tps-vk-top md-whiteframe-z1" flex="20" layout="column">

        <form flex="100" name="requestForm" ng-submit="requestForm.$valid && submit()" layout-align="start start">

            <div layout="row" class="avspiller-row">
                <md-input-container flex="10" class="md-no-flex">
                    <label>Miljø</label>
                    <md-select ng-model="request.miljoe" required ng-change="checkOversikt()">
                        <md-option ng-repeat="env in environments" value="{{env}}">{{ env }}</md-option>
                    </md-select>
                </md-input-container>

                <md-input-container flex="20">
                    <label>Periode fra</label>
                    <md-datepicker name="periodeFra" class="md-calendar-date"
                                   ng-model="request.periodeFra"
                                   md-current-view="year"
                                   md-min-date="startOfEra"
                                   md-max-date="periodeTil"
                                   ng-change="checkOversikt()">
                    </md-datepicker>
                    <div ng-messages="requestForm.periodeFra.$error">
                        <div ng-message="valid">Gyldig datoformat er DD-MM-ÅÅÅÅ</div>
                        <div ng-message="mindate">Dato kan ikke være før {{startOfEra| date: 'dd-MM-yyyy'}}</div>
                        <div ng-message="maxdate">Dato kan ikke være større enn "Periode til"</div>
                    </div>
                </md-input-container>

                <md-input-container flex="20">
                    <label>Periode til</label>
                    <md-datepicker name="periodeTil" class="md-calendar-date"
                                   ng-model="request.periodeTil"
                                   md-current-view="year"
                                   md-min-date="periodeFra"
                                   md-max-date="today"
                                   ng-change="checkOversikt()">
                    </md-datepicker>
                    <div ng-messages="requestForm.periodeTil.$error">
                        <div ng-message="valid">Gyldig datoformat er DD-MM-ÅÅÅÅ</div>
                        <div ng-message="mindate">Dato kan ikke være før "Periode fra"</div>
                        <div ng-message="maxdate">Dato kan ikke settes frem i tid</div>
                    </div>
                </md-input-container>

                <div flex="5"></div>
                <div flex="10" style="margin-right: -45px; margin-top:30px; font-size: smaller">Format:</div>
                <div class="avspiller-radio-gruppe" flex style="margin-top: 28px;">
                    <md-radio-group layout="row" ng-model="request.format" ng-change="checkOversikt()">
                        <md-radio-button value="{{fagsystem}}" class="md-primary" selected="true">Distribusjon</md-radio-button>
                        <md-radio-button value="{{tps}}">Ajourhold</md-radio-button>
                    </md-radio-group>
                </div>
                <md-button style="height: 20px; margin-top: 60px;"
                           type="submit" class="md-raised md-accent md-ink-ripple tps-vk-submit-btn"
                           ng-disabled="requestForm.$invalid">
                    Hent
                </md-button>
                <div flex="5"></div>
            </div>
            <div layout="row" class="avspiller-row">
                <md-input-container class="tps-vk-input-container" flex="20"
                                    aria-label="Hendelse(r)">
                    <label>Meldingstype(r)</label>
                    <md-select name="typer" ng-model="request.typer" placeholder="Velg hendelse(r)" multiple="true" ng-disabled="disableTyperOgKilder">
                        <md-option ng-value="type.type" ng-repeat="type in typer">{{type.type + getAntall(type.antall)}}</md-option>
                    </md-select>
                </md-input-container>

                <md-input-container class="tps-vk-input-container" flex="20"
                                    aria-label="Kilde(r)">
                    <label>Kilde(r)</label>
                    <md-select name="kilder" ng-model="request.kilder" placeholder="Velg kilde(r)" multiple="true" ng-disabled="disableTyperOgKilder">
                        <md-option ng-value="kilde.type" ng-repeat="kilde in kilder">{{kilde.type + getAntall(kilde.antall)}}</md-option>
                    </md-select>
                </md-input-container>

                <md-input-container class="tps-vk-input-container" flex>
                    <md-tooltip>Kopier inn liste av identer</md-tooltip>
                    <label>Liste av identer</label>
                    <input name="identer" ng-model="request.identer" class="testdata-ident-liste"
                           placeholder="Kopier inn liste av identer"
                           ng-pattern="/^(\d{11}[\W\s]*)+$/"></input>
                    <div ng-messages="requestForm.identer.$error"
                         ng-show="requestForm.identer.$dirty">
                        <div ng-message="pattern">Kun identer på 11 sifre og separatortegn er forventet</div>
                    </div>

                    <div class="validation-messages" ng-messages="requestForm.identer.$error" ng-show="requestForm.identer.$pristine">
                        <div ng-message="pattern">Kun identer på 11 sifre og separatortegn er forventet</div>
                    </div>
                </md-input-container>
                <div flex="5"></div>
            </div>

        </form>
        <md-progress-linear style="margin-top: 30px;" md-mode="indeterminate" ng-show="loading"></md-progress-linear>

    </div>


    <!-- Resulting Response -->
    <md-content flex="90" class="tps-vk-bottom md-whiteframe-z1" ng-show="meldinger">
        <form name="responseForm" class="top transparent response-form">

            <div layout="row" layout-align="end end" class="pagination">
                <span style="margin-right: 15px; margin-bottom: 6px;">Viser linjenr {{pager.viser.display}} av {{pager.totalt}}</span>
                <li ng-class="{disabled:pager.currentPage === 1 || disable}">
                    <a ng-click="setPage(1)">&lt;&lt;</a>
                </li>
                <li ng-class="{disabled:pager.currentPage === 1 || disable}">
                    <a ng-click="setPage(pager.currentPage - 1)">&lt;</a>
                </li>
                <li ng-repeat="page in pager.pages" ng-class="{active:pager.currentPage === page, disabled:disable}">
                    <a ng-click="setPage(page.pagenum)">{{page.display}}</a>
                </li>
                <li ng-class="{disabled:pager.currentPage === pager.totalPages || disable}">
                    <a ng-click="setPage(pager.currentPage + 1)">&gt;</a>
                </li>
                <li ng-class="{disabled:pager.currentPage === pager.totalPages || disable}">
                    <a ng-click="setPage(pager.totalPages)">&gt;&gt;</a>
                </li>
                <div flex="10"></div>
            </div>

            <h3 layout="row" class="flexbox-parent">
                <div flex="10" align="end">Linjenr</div>
                <div flex="15" align="end">Meldingsnr</div>
                <div flex="5"></div>
                <div flex="20">Tidspunkt</div>
                <div flex="25">Hendelse</div>
                <div flex="5">Kilde</div>
                <div flex="10">Ident</div>
            </h3>
            <div layout="row" ng-repeat="message in meldinger | miljoefilter:melding.miljoe">

                <div flex="10" align="end">{{message.index}}</div>
                <div flex="15" align="end">{{message.meldingNummer}}</div>
                <div flex="5"></div>
                <div flex="20">{{message.tidspunkt | date: 'dd-MM-yyyy HH:mm:ss.sss'}}</div>
                <div flex="25">{{message.hendelseType }}</div>
                <div flex="5">{{message.systemkilde }}</div>
                <div flex="10">{{message.ident}}</div>
            </div>
        </form>

        <form flex="95" name="requestForm2" ng-submit="requestForm.$valid && submit()" ng-show="meldinger" style="margin-top: 40px;">
            <div layout-align="end end" layout="row" class="btn-group">
                <md-input-container flex="10" aria-label="Velg miljø">
                    <label>Miljø</label>
                    <md-select ng-model="target.miljoe" required ng-change="checkMeldingskoer()">
                        <md-option ng-repeat="env in environments" value="{{env}}">{{ env }}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex="35" aria-label="Velg kønavn">
                    <label>Meldingskø</label>
                    <md-select ng-model="target.meldingskoe" required ng-disabled="!koer">
                        <md-option ng-repeat="koe in koer" value="{{koe}}">{{ koe.koenavn }}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="input-row" aria-label="Sende meldinger til valgt kø">
                    <md-button class="md-button md-raised md-accent" ng-disabled="requestForm2.$invalid || requestForm.$dirty"
                               ng-click="sendTilTps()">Send
                    </md-button>
                </md-input-container>
            </div>
        </form>
        <div layout="row">
            <md-progress-linear md-mode="determinate" class="avspiller-progress" value="50" ng-show="progress"></md-progress-linear>
        </div>
    </md-content>
</div>