<!DOCTYPE html>

<html lang="no">
<head>
    <title>TPS-Vedlikehold Selftest</title>
    <meta charset="UTF-8"/>
</head>

<body>
    <div>
        <h1>TPS-Vedlikehold Selftest</h1>
        <div>
            <div>
                <table>
                    <tbody>
                    <tr data-th-each="property : ${applicationProperties}">
                        <th scope="row" data-th-text="#{${property.name}}">Applikasjonsparameter</th>
                        <td data-th-text="${property.value}">Parameterverdi</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>