<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <property name="messagePattern" value="%date [%-5level] [%X{consumerId},%X{userId},%X{callId}] %logger{1} -- %message%n"/>

    <!-- Writes warnings and errors to error.log -->
    <!-- Rolls the file at midnight every day -->
    <!-- Files are deleted after 30 days -->
    <appender name="errorFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${APP_LOG_HOME}/error.log</file>
        <encoder>
            <pattern>${messagePattern}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${APP_LOG_HOME}/error.%d.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- Writes all messages to debug.log -->
    <!-- Rolls the file at midnight every day -->
    <!-- Files are deleted after 10 days -->
    <appender name="debugFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${APP_LOG_HOME}/debug.log</file>
        <encoder>
            <pattern>${messagePattern}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${APP_LOG_HOME}/debug.%d.log</fileNamePattern>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- %rEx yields 'caused by' first. Exceptions must be included in the message -->
    <appender name="SYSLOG" class="ch.qos.logback.classic.net.SyslogAppender">
        <syslogHost>localhost</syslogHost>

        <!-- Facility is a syslog specific categorisation. LOCAL1 shall be used for application loggers -->
        <facility>LOCAL1</facility>

        <!-- SuffixPattern defines the format of the syslog message -->
        <!-- A timestamp, severity, and host name is added -->
        <!-- The first word in in the patterns must be the program sending the message to syslog. This is always logback -->
        <suffixPattern>logback %mdc %logger{30} %message %n%rEx</suffixPattern>

        <!-- ThrowableExluded shall always be 'true' to avoid logging stack traces as individual messages. -->
        <throwableExcluded>true</throwableExcluded>

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${SYSLOG_LOG_LEVEL:-WARN}</level>
        </filter>
    </appender>

    <!-- Sporingslogging -->
    <appender name="sporingAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${APP_LOG_HOME}/sporing.log</file>
        <encoder>
            <pattern>%date - [%X{consumerId},%X{userId},%X{callId}] - %message%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${APP_LOG_HOME}/sporing.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- Log messages to the console -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${messagePattern}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>


    <!-- Altering log levels for specific loggers to suppress irrelevant warnings and errors in our log files. -->
    <logger name="org.apache.cxf.ws.addressing.ContextUtils" level="ERROR"/>
    <logger name="org.apache.cxf.phase.PhaseInterceptorChain" level="ERROR"/>

    <logger name="no.nav.tps.forvalteren.provider.rs.Sporingslogger" level="INFO" additivity="false">
        <appender-ref ref="sporingAppender"/>
    </logger>


    <logger name="no.nav" level="${ROOT_LOG_LEVEL:-WARN}">
        <appender-ref ref="SYSLOG"/>
    </logger>

    <root level="${ROOT_LOG_LEVEL:-DEBUG}">
        <appender-ref ref="STDOUT"/>
    </root>

    <root level="${ROOT_LOG_LEVEL:-INFO}">
        <appender-ref ref="errorFileAppender"/>
        <appender-ref ref="debugFileAppender"/>
    </root>

</configuration>
