<!--<script src="service-rutine.module.js"></script>-->
<div layout="column">
    <!-- For Persons found. -->
    <div flex-xs flex-gt-xs="60" layout="column">
        <md-item class="tps-vk-response" ng-show="personsData" ng-repeat="(key, personData) in personsData | notEmpty">
            <md-item-content ng-init="paramsToShow = responseFormConfig[serviceRutineName].display">
                <md-card class="tps-vk-response-card">
                    <!-- Results unexpanded -->
                    <div ng-click="toggle = !toggle" layout="row" layout-align="start center">
                        <div flex="5">
                        </div>

                        <div layout="column" flex>
                            <div layout="row">
                                <h3 class="tps-vk-response-card-header">{{resolveDisplayTemplate(paramsToShow.header,personData)}}</h3>
                            </div>
                            <div ng-if="paramsToShow.properties" layout="row">
                                <div flex="15" class="tps-vk-output-container" ng-repeat="param in paramsToShow.properties">
                                    <p class="tps-vk-output-label"> {{param.label}} </p>
                                    <p class="tps-vk-output-data">
                                      {{resolveDisplayTemplate(param.template,personData)}}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Results expanded --> <!-- Versjon med hvite felt midten  -->

                    <div class="tps-vk-response-expanded" ng-show="toggle">
                        <div layout-gt-xs="row" ng-repeat="row in responseFormConfig[serviceRutineName].rows"
                             class="md-title-content" layout-align="start center">
                            <div flex="5"></div>

                            <div ng-repeat="field in row" flex="22">
                              <div ng-if="isArray(field.fieldData)">
                                <div ng-repeat="item in field.fieldData">
                                  <tps-output-field
                                  ng-if="!isArray(personData[item])"
                                  ng-show="personData[item] != undefined"
                                  label="{{field.label}}"
                                  field-model="personData[item]">
                                </tps-output-field>
                              </div>
                            </div>

                            <tps-output-field
                              ng-if="!isArray(personData[field.fieldData])"
                              ng-if="!isArray(field.fieldData)"
                              ng-show="personData[field.fieldData] != undefined"
                              label="{{field.label}}"
                              field-model="personData[field.fieldData]"></tps-output-field>


                            <tps-output-field-no-value
                            ng-if="!isArray(field.fieldData)"
                            ng-if="!isArray(personData[field.fieldData])"
                            ng-show="personData[field.fieldData] === undefined"
                            label="{{field.label}}"></tps-output-field-no-value>


                            <!-- Forenkling  -->


                            </div>
                        </div>

                        <div >
                            <div layout-gt-xs="row" ng-repeat="indexContent in personData[responseFormConfig[serviceRutineName].arrayName['name']]"  ng-init="parentIndex=$index">
                              <div flex="5"></div>
                                <div flex ng-repeat="arrayFields in responseFormConfig[serviceRutineName].arrayValues">
                                    <tps-output-field
                                            ng-show="indexContent[arrayFields.fieldData] !== undefined"
                                            label="{{arrayFields.label}} - {{parentIndex}}"
                                            field-model="indexContent[arrayFields.fieldData]"></tps-output-field>
                                </div>
                            </div>
                        </div>

                    </div>



                </md-card>
            </md-item-content>
        </md-item>
    </div>
</div>
