<div class="servicerutine-dashboard" layout="column" class="md-primary md-hue-3" flex layout-padding ng-cloak>
    <div ng-show="loadServicerutineTemplate()" layout="column" flex>
        <div class="tps-vk-top md-whiteframe-z2">
            <form name="requestForm" ng-submit="requestForm.$valid && submit()">
                <div layout-gt-xs="row" layout="column" layout-wrap>
                    <md-input-container class="tps-input-input-container" flex-gt-xs>
                        <label>Fødselsnummer</label>
                        <input ng-required="isRequired('fnr')" md-maxlength="11" ng-pattern="onlyNumbers" ng-model="formData.fnr"/>
                    </md-input-container>
                    <div class="date-picker-container" flex-gt-xs>
                        <label>Dato</label>
                        <md-datepicker ng-model="formData.aksjonsDato"></md-datepicker>
                    </div>
                    <md-input-container class="tps-input-input-container" flex-gt-xs>
                        <label>Aksjonskode</label>
                        <md-select ng-model="formData.aksjonsKode" placeholder="Aksjonskode">
                            <md-option ng-repeat="val in aksjonsKoder" ng-value="val">{{ val }}</md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div class="submit-container" layout-gt-xs="row" layout="column" layout-align>
                    <md-input-container flex-gt-xs class="tps-input-input-container">
                        <label>Miljø</label>
                        <md-select ng-model="formData.environment" required>
                            <md-option ng-repeat="env in environments" value="{{env}}">{{ env }}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex-gt-xs class="tps-input-input-container" >
                        <md-button type="submit" class="md-raised md-accent md-ink-ripple tps-vk-submit-btn">Send til TPS</md-button>
                        <md-button class="md-fab  md-accent tps-vk-refresh-btn" type="button" ng-transclude="" aria-label="Oppdater enheter tabell." ng-click="clearResponseForm()">
                            <ng-md-icon icon="delete_sweep" aria-label="Clear form"></ng-md-icon>
                            <md-tooltip md-direction="top" class="tooltip-btn">
                                <span>Fjern responsdata</span>
                            </md-tooltip>
                            <div class="md-ripple-container"></div>
                        </md-button>
                    </md-input-container>
                </div>
            </form>
        </div>
        <md-content flex="95" class="tps-vk-bottom md-whiteframe-z2">
            <md-tabs md-border-bottom class="tps-scrollable-tabs">
                <md-tab label="Resultat">
                    <div ng-include="'app/components/service-rutine/response.html'" class="tps-response-form md-padding">
                    </div>
                </md-tab>
                <md-tab label="XML">
                    <div class="tps-xml-panel" hljs hljs-source="xmlForm" hljs-language="xml">
                    </div>
                </md-tab>
            </md-tabs>
        </md-content>
        <md-content flex="5" class="tps-vk-status-container md-whiteframe-z2" layout="row" layout-align="center center">
            <div class="tps-vk-status" flex ng-show="svarStatus">
                <ng-md-icon class="status-icon" ng-class="returStatus == '00' ? 'succes' : 'error'" icon="fiber_manual_record"></ng-md-icon>
                <div class="status-message">
                    {{svarStatus}}
                </div>
            </div>
        </md-content>
    </div>
    <div ng-show="!loadServicerutineTemplate()"  layout="column" flex>
        <ng-include src="'app/components/service-rutine/welcome.html'"></ng-include>
    </div>
</div>
