<div class="tps-vk-service-rutine-dashboard tps-content" layout="column" class="md-primary md-hue-3" flex layout-padding ng-cloak>
  <!-- Velkomstsmelding -->

    <div ng-show="loadServiceRutineTemplate() || loadEndringsmeldingTemplate()" layout="column" flex>

        <div class="menus" layout-wrap="" layout="row"  style="">
            <div layout="column" flex="100" flex-sm="100" flex-xs="100" layout-align="start center">

            </div>
        </div>

        <div class="tps-vk-top md-whiteframe-z2">
          <h2 class="md-title">{{serviceRutineName}}</h2>
            <!-- Form to submit to TPS.  -->
            <form name="requestForm" ng-submit="requestForm.$valid && submit()">
                <!-- Input fields rows -->
                <fieldset>
                <legend>Select og inputfelt for {{serviceRutineName}}</legend>
                <div ng-repeat="field in fields" ng-init="parentIndex = $index" >
                    <div layout-gt-xs="row" layout="column" ng-if="(parentIndex%4)==0"  >

                        <!-- Array har storrelse 4 bare grunnet ville ha 4 fields i bredden -->
                        <tps-input-field data-ng-repeat="i in [0,1,2,3]" ng-if="fields[parentIndex+i]"
                                         form-data="formData" select-values="selectValues" input-param-name="fields[parentIndex+i]"></tps-input-field>
                    </div>
                </div>
              </fieldset>

                <!-- lowest row-->
                <div class="tps-vk-submit-container" layout-gt-xs="row" layout="column" layout-align>
                    <md-input-container flex-gt-xs flex="20" class="tps-vk-input-container">
                        <label>Miljø</label>
                        <md-select ng-model="formData.environment" required>
                            <md-option ng-repeat="env in environments" value="{{env}}">{{ env }}</md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container flex-gt-xs flex="80" class="tps-vk-input-container tps-vk-form-btns"
                                        layout-align="center center">
                        <!-- Submit request Button -->
                        <md-button type="submit" class="md-raised md-accent md-ink-ripple tps-vk-submit-btn"
                                   ng-disabled="requestForm.$invalid || loading">
                            Send til TPS
                        </md-button>
                        <!-- Clear response Button -->
                        <md-button class="md-fab md-accent tps-vk-refresh-btn" type="button" ng-transclude=""
                                   aria-label="Fjern responsdata." ng-click="clearResponseForm()">
                            <ng-md-icon icon="delete_sweep" aria-label="Fjern responsdata."></ng-md-icon>
                            <md-tooltip md-direction="top">
                                <span>Fjern responsdata</span>
                            </md-tooltip>
                        </md-button>
                    </md-input-container>
                </div>
            </form>
            <!-- Loading bar -->
            <md-progress-linear md-mode="indeterminate" ng-show="loading"></md-progress-linear>

        </div>


        <!-- Resulting Response -->
        <md-content flex="95" class="tps-vk-bottom md-whiteframe-z2">
            <!-- Setup Tabs -->
            <md-tabs md-border-bottom class="tps-vk-scrollable-tabs">
                <!-- Tab Readable Result -->
                <md-tab label="Resultat" style="background-color: rgb(250,250,250)">
                    <!-- Include HTML file "response.html" -->
                    <div class="tps-vk-response-form">
                        <ng-include src="serviceRutineNameHtmlUrl"></ng-include>
                    </div>

                </md-tab>
                <!-- Tab XML Result -->
                <md-tab label="XML">
                    <div class="tps-vk-xml-panel" hljs hljs-source="xmlForm" hljs-language="xml">
                    </div>
                </md-tab>
            </md-tabs>
        </md-content>


        <!-- Footer Response -->
        <md-content flex="5" class="tps-vk-status-container md-whiteframe-z2" layout="row" layout-align="start center">
            <div class="tps-vk-hits" flex="45" layout="row" layout-align="start center">
                <div class="tps-vk-hits-meesage" flex="20" layout-align="center center" ng-if="personsData" ng-show="getAntallTreff(personsData) != 0 ">
                     Treff: {{ getAntallTreff(personsData)  }}
                </div>
                <div ng-show='formData["buffNr"]' class="tps-vk-hits-message" flex="20" layout-align="center center" ng-if="personsData" ng-show="getAntallTreff(personsData) != 0" >
                     Viser treff: {{ getStartIndex(formData["buffNr"]) }} - {{ getEndIndex(formData["buffNr"], getAntallTreff(personsData))  }}
                </div>
            </div>

            <div ng-show='formData["buffNr"]' class="tps-vk-hits" layout="row" flex="10" layout-align="center center" ng-if="personsData" ng-show="getAntallTreff(personsData) != 0">
                <ng-md-icon ng-click="pageBackwards()" icon="fast_rewind" size="24" style="fill: #bdbdbd"></ng-md-icon>
                <div class="tps-vk-hits-message"> Paging </div>
                <ng-md-icon ng-click="pageForward()" icon="fast_forward" size="24" style="fill: #bdbdbd"></ng-md-icon>
            </div>

            <div class="tps-vk-status" flex="45" ng-show="svarStatus">
                <ng-md-icon class="tps-vk-status-icon" ng-class="returStatus == '00' ? 'success' : 'error'"
                            icon="fiber_manual_record"></ng-md-icon>
                <div class="tps-vk-status-message">
                    {{svarStatus}}
                </div>
            </div>
        </md-content>
    </div>


</div>
