<div flex-xs flex-gt-xs="1" layout="column">
    <md-item class="tps-vk-response" ng-show="responseData">
        <md-item-content >
            <!-- Results expanded   -->
            <div class="tps-vk-response-expanded">
                <div flex="5"></div>
                <div layout="column">
                    <div layout="row">
                        <tps-output-field label="fnr" flex="30" field-model="responseData.data1.bruker.fnr" title="fnr"></tps-output-field>
                        <tps-output-field label="fnrTidspunkt" flex="30" field-model="responseData.data1.bruker.fnrTidspunkt" title="fnrTidspunkt"></tps-output-field>
                        <tps-output-field label="fnrSystem" flex="30" field-model="responseData.data1.bruker.fnrSystem" title="fnrSystem"></tps-output-field>
                        <tps-output-field label="fnrSaksbehandler" flex="30" field-model="responseData.data1.bruker.fnrSaksbehandler" title="fnrSaksbehandler"></tps-output-field>
                        <tps-output-field label="spesregType" flex="30" field-model="responseData.data1.bruker.spesregType" title="spesregType"></tps-output-field>
                    </div>



                    <



                    </div>
                </div>
            </div>
        </md-item-content>
    </md-item>
</div>