<div flex-xs flex-gt-xs="1" layout="column">
    <md-item class="tps-vk-response" ng-show="responseData">
        <md-item-content>
            <!-- Results expanded   -->
            <div class="tps-vk-response-expanded">
                <div flex="5"></div>
                <div layout="row" layout-wrap>
                    <tps-output-field label="fnr" flex="20" field-model="responseData.data1.fnr" title="fnr"></tps-output-field>
                    <tps-output-field label="fnrTidspunkt" flex="20" field-model="responseData.data1.fnrTidspunkt" title="fnrTidspunkt"></tps-output-field>
                    <tps-output-field label="fnrSystem" flex="20" field-model="responseData.data1.fnrSystem" title="fnrSystem"></tps-output-field>
                    <tps-output-field label="fnrSaksbehandler" flex="20" field-model="responseData.data1.fnrSaksbehandler" title="fnrSaksbehandler"></tps-output-field>
                    <tps-output-field label="spesregType" flex="20" field-model="responseData.data1.spesregType" title="spesregType"></tps-output-field>
                    <tps-output-field label="kortnavn" flex="20" field-model="responseData.data1.kortnavn" title="kortnavn"></tps-output-field>
                    <tps-output-field label="fornavn" flex="20" field-model="responseData.data1.fornavn" title="fornavn"></tps-output-field>
                    <tps-output-field label="mellomnavn" flex="20" field-model="responseData.data1.mellomnavn" title="mellomnavn"></tps-output-field>
                    <tps-output-field label="etternavn" flex="20" field-model="responseData.data1.etternavn" title="etternavn"></tps-output-field>
                    <tps-output-field label="navnTidspunkt" flex="20" field-model="responseData.data1.navnTidspunkt" title="navnTidspunkt"></tps-output-field>
                    <tps-output-field label="navnSystem" flex="20" field-model="responseData.data1.navnSystem" title="navnSystem"></tps-output-field>
                    <tps-output-field label="navnSaksbehandler" flex="20" field-model="responseData.data1.navnSaksbehandler" title="navnSaksbehandler"></tps-output-field>
                    <tps-output-field label="datoDo" flex="20" field-model="responseData.data1.datoDo" title="datoDo"></tps-output-field>
                    <tps-output-field label="doTidspunkt" flex="20" field-model="responseData.data1.doTidspunkt" title="doTidspunkt"></tps-output-field>
                    <tps-output-field label="doSystem" flex="20" field-model="responseData.data1.doSystem" title="doSystem"></tps-output-field>
                    <tps-output-field label="doSaksbehandler" flex="20" field-model="responseData.data1.doSaksbehandler" title="doSaksbehandler"></tps-output-field>
                    <tps-output-field label="tknr" flex="20" field-model="responseData.data1.tknr" title="tknr"></tps-output-field>
                    <tps-output-field label="tknrTidspunkt" flex="20" field-model="responseData.data1.tknrTidspunkt" title="tknrTidspunkt"></tps-output-field>
                    <tps-output-field label="tknrSystem" flex="20" field-model="responseData.data1.tknrSystem" title="tknrSystem"></tps-output-field>
                    <tps-output-field label="tknrSaksbehandler" flex="20" field-model="responseData.data1.tknrSaksbehandler" title="tknrSaksbehandler"></tps-output-field>

                    <tps-output-field label="spraakBeskrivelse" flex="20" field-model="responseData.data1.spraakBeskrivelse" title="spraakBeskrivelse"></tps-output-field>
                    <tps-output-field label="spraakKode" flex="20" field-model="responseData.data1.spraakKode" title="spraakKode"></tps-output-field>
                    <tps-output-field label="spraakDatoFom" flex="20" field-model="responseData.data1.spraakDatoFom" title="spraakDatoFom"></tps-output-field>
                    <tps-output-field label="spraakTidspunkt" flex="20" field-model="responseData.data1.spraakTidspunkt" title="spraakTidspunkt"></tps-output-field>
                    <tps-output-field label="spraakSystem" flex="20" field-model="responseData.data1.spraakSystem" title="spraakSystem"></tps-output-field>
                    <tps-output-field label="spraakSaksbehandler" flex="20" field-model="responseData.data1.spraakSaksbehandler" title="spraakSaksbehandler"></tps-output-field>

                    <tps-output-field label="datoFom" flex="20" field-model="responseData.data1.postAdresse.datoFom" title="datoFom"></tps-output-field>
                    <tps-output-field label="datoTom" flex="20" field-model="responseData.data1.postAdresse.datoTom" title="datoTom"></tps-output-field>
                    <tps-output-field label="landKode" flex="20" field-model="responseData.data1.postAdresse.landKode" title="landKode"></tps-output-field>
                    <tps-output-field label="land" flex="20" field-model="responseData.data1.postAdresse.land" title="land"></tps-output-field>
                    <tps-output-field label="adresseType" flex="20" field-model="responseData.data1.postAdresse.adresseType" title="adresseType"></tps-output-field>
                    <tps-output-field label="beskrAdrType" flex="20" field-model="responseData.data1.postAdresse.beskrAdrType" title="beskrAdrType"></tps-output-field>
                    <tps-output-field label="adresse1" flex="20" field-model="responseData.data1.postAdresse.adresse1" title="adresse1"></tps-output-field>
                    <tps-output-field label="adresse2" flex="20" field-model="responseData.data1.postAdresse.adresse2" title="adresse2"></tps-output-field>
                    <tps-output-field label="adresse3" flex="20" field-model="responseData.data1.postAdresse.adresse3" title="adresse3"></tps-output-field>
                    <tps-output-field label="postnr" flex="20" field-model="responseData.data1.postAdresse.postnr" title="postnr"></tps-output-field>
                    <tps-output-field label="poststed" flex="20" field-model="responseData.data1.postAdresse.poststed" title="poststed"></tps-output-field>
                    <tps-output-field label="adrTidspunktReg" flex="20" field-model="responseData.data1.postAdresse.adrTidspunktReg" title="adrTidspunktReg"></tps-output-field>
                    <tps-output-field label="adrSystem" flex="20" field-model="responseData.data1.postAdresse.adrSystem" title="adrSystem"></tps-output-field>
                    <tps-output-field label="adrSaksbehandler" flex="20" field-model="responseData.data1.postAdresse.adrSaksbehandler" title="adrSaksbehandler"></tps-output-field>

                    <tps-output-field label="datoFom" flex="20" field-model="responseData.data1.tilleggsAdresse.datoFom" title="datoFom"></tps-output-field>
                    <tps-output-field label="datoTom" flex="20" field-model="responseData.data1.tilleggsAdresse.datoTom" title="datoTom"></tps-output-field>
                    <tps-output-field label="landKode" flex="20" field-model="responseData.data1.tilleggsAdresse.landKode" title="landKode"></tps-output-field>
                    <tps-output-field label="land" flex="20" field-model="responseData.data1.tilleggsAdresse.land" title="land"></tps-output-field>
                    <tps-output-field label="adresseType" flex="20" field-model="responseData.data1.tilleggsAdresse.adresseType" title="adresseType"></tps-output-field>
                    <tps-output-field label="beskrAdrType" flex="20" field-model="responseData.data1.tilleggsAdresse.beskrAdrType" title="beskrAdrType"></tps-output-field>
                    <tps-output-field label="adresse1" flex="20" field-model="responseData.data1.tilleggsAdresse.adresse1" title="adresse1"></tps-output-field>
                    <tps-output-field label="adresse2" flex="20" field-model="responseData.data1.tilleggsAdresse.adresse2" title="adresse2"></tps-output-field>
                    <tps-output-field label="adresse3" flex="20" field-model="responseData.data1.tilleggsAdresse.adresse3" title="adresse3"></tps-output-field>
                    <tps-output-field label="postnr" flex="20" field-model="responseData.data1.tilleggsAdresse.postnr" title="postnr"></tps-output-field>
                    <tps-output-field label="poststed" flex="20" field-model="responseData.data1.tilleggsAdresse.poststed" title="poststed"></tps-output-field>
                    <tps-output-field label="adrTidspunktReg" flex="20" field-model="responseData.data1.tilleggsAdresse.adrTidspunktReg" title="adrTidspunktReg"></tps-output-field>
                    <tps-output-field label="adrSystem" flex="20" field-model="responseData.data1.tilleggsAdresse.adrSystem" title="adrSystem"></tps-output-field>
                    <tps-output-field label="adrSaksbehandler" flex="20" field-model="responseData.data1.tilleggsAdresse.adrSaksbehandler" title="adrSaksbehandler"></tps-output-field>

                    <tps-output-field label="datoFom" flex="20" field-model="responseData.data1.utenlandsAdresse.datoFom" title="datoFom"></tps-output-field>
                    <tps-output-field label="datoTom" flex="20" field-model="responseData.data1.utenlandsAdresse.datoTom" title="datoTom"></tps-output-field>
                    <tps-output-field label="landKode" flex="20" field-model="responseData.data1.utenlandsAdresse.landKode" title="landKode"></tps-output-field>
                    <tps-output-field label="land" flex="20" field-model="responseData.data1.utenlandsAdresse.land" title="land"></tps-output-field>
                    <tps-output-field label="adresseType" flex="20" field-model="responseData.data1.utenlandsAdresse.adresseType" title="adresseType"></tps-output-field>
                    <tps-output-field label="beskrAdrType" flex="20" field-model="responseData.data1.utenlandsAdresse.beskrAdrType" title="beskrAdrType"></tps-output-field>
                    <tps-output-field label="adresse1" flex="20" field-model="responseData.data1.utenlandsAdresse.adresse1" title="adresse1"></tps-output-field>
                    <tps-output-field label="adresse2" flex="20" field-model="responseData.data1.utenlandsAdresse.adresse2" title="adresse2"></tps-output-field>
                    <tps-output-field label="adresse3" flex="20" field-model="responseData.data1.utenlandsAdresse.adresse3" title="adresse3"></tps-output-field>
                    <tps-output-field label="adrTidspunktReg" flex="20" field-model="responseData.data1.utenlandsAdresse.adrTidspunktReg" title="adrTidspunktReg"></tps-output-field>
                    <tps-output-field label="adrSystem" flex="20" field-model="responseData.data1.utenlandsAdresse.adrSystem" title="adrSystem"></tps-output-field>
                    <tps-output-field label="adrSaksbehandler" flex="20" field-model="responseData.data1.utenlandsAdresse.adrSaksbehandler" title="adrSaksbehandler"></tps-output-field>


                </div>
            </div>
        </md-item-content>
    </md-item>
</div>

