<div ng-controller="navigatorCtrl" layout="column" flex>
    <!-- Lage en meny paa venstre side der man skal kunne se hvilken service-rutine som er valgt.
    Side-meny elementer hardkodet her eller i controller? ng-repeat-->
    <div layout="row" flex>
        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-is-locked-open="$mdMedia('gt-sm')">
            <md-content>
                <md-list class="side-navigator-list" layout="column" layout-align="start start">
                    <md-subheader class="md-no-sticky">Servicekategori 1</md-subheader>
                    <md-list-item>
                        <md-button class="" ng-click="">
                            S004 - Hent personopplysninger
                        </md-button>
                    </md-list-item>
                    <!-- Additional service routines -->
                    <!--<md-list-item>-->
                        <!--<md-button class="" ng-click="">-->
                            <!--S322 - En annen servicerutine-->
                        <!--</md-button>-->
                    <!--</md-list-item>-->
                </md-list>
            </md-content>
        </md-sidenav>
    </div>
</div>