.avspiller-row {
  padding-left: 50px;
  height: 100px;
}

.avspiller-progress {
  margin-top: 30px;
  margin-left: 70px;
  margin-right: 70px;
}

.avspiller-radio-gruppe {
  margin-top: 10px;
}

.avspiller-checkbox {
  margin-top: 28px;
}

.avspiller-requestform2 {
  margin-top: 20px;
}

.status-icon {
  height: 13px;
}

.animate-selection {
  cursor: pointer;

  &:hover {
    background-color: #cacaca;
  }
}

.ident-included {
  background-color: #e4f4ea;
}

.ident-excluded {
  background-color: #e4d6db;
  text-decoration: line-through;
}