#tpsf-endringslogg-description-block {
  min-height: 350px;

  .side-content {
    padding: 28px;

    .scroll-area {
      cursor: pointer;
      height: 250px;
      overflow-x: hidden;
      overflow-y: scroll;
      white-space: nowrap;
    }
  }
}

.tpsf-endringslogg-report {
  overflow: hidden;
  text-overflow: ellipsis;
}