#tps-vk-header {

  .tps-vk-header-toolbar {
    height: 50px;
  }

  md-toolbar {
    min-height: 50px;

    .md-toolbar-tools {
      width: auto;

      ng-md-icon {
        svg {
          fill: white !important;
        }
      }
    }
    .tps-vk-header-default-container {
      height: 80%;
    }

    .left-border {
      border-left: white;
      border-left-style: solid;
      border-left-width: 2px;
      padding-left: 20px;
      border-color: @tps-vk-background-color-light-grey;
    }

    .tps-vk-header-route-text {
      cursor: pointer;
      font-size: medium;
      margin-right: 30px;
    }

    .tps-vk-header-medium {
      cursor: default;
      font-size: medium;
      margin-right: 30px;
    }

    .tps-vk-header-h1 {
      font-size: 150%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .tps-vk-header-logo-image {
      height: 100%;
      width: auto \9;
    }

    .tps-vk-user-info {
      text-align: right;
    }

    #tps-vk-logout-button, #tps-vk-rutiner-button {
      background: rgb(224, 224, 224);
      color: #222;
    }

    @media (max-width: 599px) {
      padding: 20px 0;
      border-radius: 0;

      .md-toolbar-tools {
        display: table;

        a {
          text-align: left;
          text-decoration: underline;
        }

        .tps-vk-user-info {
          margin: 10px 8px;
          text-align: left !important;
        }
      }
    }
  }
}

.header2 {
  background-color: white;
  max-height: 55px;
  min-height: 55px;
  height: 55px;
}

.header3 {
  background-color: white;
  height: 30px;
  min-height: 30px;
  max-height: 30px;
}

.md-button.nav-blaa {
  color: #0056a7;
  font-weight: bold;
}

.md-button.nav-graa {
  color: #9e9e9e;
  font-weight: bold;
}

md-icon.nav-blaa {
  color: #0056a7;
  svg {
    fill: inherit;
  }
}

md-icon.nav-graa {
  color: #515151;
  svg {
    fill: inherit;
  }
  ng-scope {
    padding: 0;
  }
}

md-icon.md-ink-ripple {
  padding: 0;
}