@import "header";
@import "side-navigator";
@import "login";
@import "service-rutine";

@tps-vk-background-color-light-grey: #EEEEEE;
@tps-vk-background-primary-indigo: rgb(63,81,181);
@tps-vk-background-accent-light-blue: rgb(68, 138, 255);
@tps-vk-background-warn-red: rgb(221, 44, 0);
@tps-vk-background-darkgray: rgb(95, 107, 114);



#tps-vk-main-content {
  background-color: @tps-vk-background-color-light-grey;
}

#tps-vk-content-wrapper {
  position: relative;
}

.flipped {
  transform: rotateZ(180deg);
}

.header-label {
  margin-left: 2px;
  font-size: 10pt;
  color: #bbbbbb;
  margin: 0 0 4px 0;
}