<md-input-container  class="tps-vk-input-container" flex>
    <label for="fodselsdatoTil">Fødseldato Til</label>
    <input name="fodselsdatoTil"
           id="fodselsdatoTil"
           type="text"
           pikaday="fodselsdatoTil"
           set-default-date="false"
           autocomplete="off"
           ng-model="formData.fodselsdatoTil"
           on-open="repositionDatePicker(fodselsdatoTil)"
           ng-pattern="/^\d{4}-\d{2}-\d{2}$/"
           fdate>
    <ng-messages for="requestForm.fodselsdatoTil.$error">
        <ng-message when="isRequired('fodselsdatoTil')" ng-show="requestForm.fodselsdatoTil.$touched">
            Gyldig dato er påkrevd
        </ng-message>
        <ng-message when="pattern">
            Ugyldig datoformat (YYYY-MM-DD)
        </ng-message>
    </ng-messages>
</md-input-container>