<div id="bokser-lenker" style="padding-top: 130px; margin: 0 auto">

    <div layout-align="center center" layout="row">

        <div class="lenkeboks" ng-click="openGT()" ng-if="visGTKnapp">
            <a>
                <h2 class="hode hode-undertittel hode-dekorert hode-suksess">
                    GT
                </h2>
                <p class="typo-normal">
                    Her kan du søke på geografisk tilknytning.
                </p>
            </a>
        </div>

        <div class="lenkeboks" ng-click="openServiceRutine()" ng-if="visServiceRutineKnapp">
            <a>
                <h2 class="hode hode-undertittel hode-dekorert hode-suksess breaktext">
                    Servicerutiner
                </h2>
                <p class="typo-normal breaktext">
                    Her finner du TPS-servicerutiner
                </p>
            </a>
        </div>

        <div class="lenkeboks" ng-click="openVisTestdata()" ng-if="visTestdataKnapp">
            <a>
                <h2 class="hode hode-undertittel hode-dekorert hode-suksess">
                     Testdata
                </h2>
                <p class="typo-normal">
                    Her kan du opprette og lagre person-testdata, og sende data til TPS i ønsket miljø.
                </p>
            </a>
        </div>

        <div class="lenkeboks" ng-click="openVisSendDoedsmeldinger()" ng-if="visSendDoedsmeldingKnapp">
            <a>
                <h2 class="hode hode-undertittel hode-dekorert hode-suksess">
                    Send Dødsmelding
                </h2>
                <p class="typo-normal">
                    Her kan du lagre og sende dødsmeldinger
                </p>
            </a>
        </div>

        <div class="lenkeboks" ng-click="openVisSkdEndringsmelding()" ng-if="visSkdEndringsmeldingKnapp">
            <a>
                <h2 class="hode hode-undertittel hode-dekorert hode-suksess breaktext">
                    SKD Endringsmeldinger
                </h2>
                <p class="typo-normal breaktext">
                    Her kan du opprette<br>og lagre testdata som SKD-meldinger, for å sende meldingene til TPS i ønsket miljø.
                </p>
            </a>
        </div>
    </div>
</div>
