<div id="bokser-lenker" style="padding-top: 130px; margin: 0 auto">

    <div layout-align="center center" layout="row">

        <div class="lenkeboks" ng-click="openGT()">
            <a>
                <h2 class="hode hode-undertittel hode-dekorert hode-suksess">
                    GT
                </h2>
                <p class="typo-normal">
                    Her kan du søke på geografisk tilknytning.
                </p>
            </a>
        </div>

        <div class="lenkeboks" ng-click="openVisTestdata()" ng-if="visTestdataKnapp">
            <a>
                <h2 class="hode hode-undertittel hode-dekorert hode-suksess">
                     Testdata
                </h2>
                <p class="typo-normal">
                    Her har du mulighet til å finne og opprette testdata
                </p>
            </a>
        </div>

        <div class="lenkeboks" ng-click="openVisSkdEndringsmelding()" ng-if="visSkdEndringsmeldingKnapp">
            <a>
                <h2 class="hode hode-undertittel hode-dekorert hode-suksess" style="overflow-wrap: break-word; word-wrap: break-word; hyphens: none;">
                    SKD Endringsmeldinger
                </h2>
                <p class="typo-normal">
                    Her finner du og oppretter SKD-endringsmeldinger
                </p>
            </a>
        </div>

        <div class="lenkeboks" ng-if="false">
            <a>
                <h2 class="hode hode-undertittel hode-dekorert hode-suksess">
                    Servicerutiner
                </h2>
                <p class="typo-normal">
                    Ingenting her enda
                </p>
            </a>
        </div>
        <div class="lenkeboks" ng-click="openVisSendDoedsmeldinger()" ng-if="visSendDoedsmeldingKnapp">
            <a>
                <h2 class="hode hode-undertittel hode-dekorert hode-suksess">
                    Send Dødsmelding
                </h2>
                <p class="typo-normal">
                    Her kan du sende dødsmeldinger
                </p>
            </a>
        </div>

    </div>

</div>
