@tps-v-light-blue: #448aff;
@tps-v-dark-blue: #3283593;

/*
#dashboard-page {
  height: 100%;
  .tps-v-db-toolbar {
    background-color: @tps-v-dark-blue;
    .user-info {
      padding: 9px 0;
    }
    .md-button {
      background-color: @tps-v-light-blue;
      text-transform: none;
    }
  }
}
*/