#tps-vk-login-page {

  .tps-vk-login-box {
    max-width: 90%;
    width: 300px;

    .tps-vk-login-toolbar {
      padding-top: 40px;
    }

    .tps-vk-form {

      .tps-vk-btn-container {
        margin-top: 0;
        width: 100%;
        text-align: center;
      }

      .tps-vk-input {
        display: block;
      }
    }
  }
}
