#login-page {
  .loginBox {
    max-width: 90%;
    width: 300px;
    .tps-v-login-toolbar {
      padding-top: 40px;
    }
    .tps-v-form {
      .tps-v-btn-container {
        margin-top: 0;
        width: 100%;
        text-align: center;
      }
      .tps-v-input {
        display: block;
      }
    }
    .tps-v-form-error-container {
      .tps-v-error {
        font-size: 12px;
        color: @tps-vk-background-warn;
        border: 1px solid @tps-vk-background-warn;
        padding: 15px 20px;
        text-align: center;
      }
    }
  }
}
