@import "header";
@import "side-navigator";
@import "login";
@import "dashboard";
@import "servicerutine";

@tps-vk-background-color: #eee;

.main-content {
  background-color: @tps-vk-background-color;
}

.content-wrapper {
  position: relative;
}
