@import "header";
@import "side-navigator";
@import "login";
@import "service-rutine";

@tps-vk-background-color: #eee;
@tps-vk-background-primary: rgb(63,81,181);
@tps-vk-background-accent: rgb(68, 138, 255);
@tps-vk-background-warn: rgb(221, 44, 0);
@tps-vk-background-darkgray: rgb(95, 107, 114);



#tps-vk-main-content {
  background-color: @tps-vk-background-color;
}

#tps-vk-content-wrapper {
  position: relative;
}
