.servicerutine-dashboard {

  .tps-vk-top {
    margin-bottom: 10px;
    background-color: white;
    padding: 25px 35px 8px;

    .tps-input-input-container {
      margin: 8px 0;
    }

    md-datepicker {
      padding-top: 5px;
      .md-datepicker-input-container {
        width: 75%;
      }
    }

    .tps-vk-submit-btn {
      margin-left: 20%;
    }
  }

  .tps-vk-bottom {

    .tps-response-form {
      padding: 28px 35px 8px;
      .tps-output-input-container {
        margin: 3px 0;
        padding: 2px 3px;

        .tps-output-input, .tps-output-label {
          border-color: rgba(0,0,0,0.12);
          color: rgba(0,0,0,0.54);
          &.filled {
            border-color: @tps-vk-background-primary;
          }
          &.empty {
            border-color: @tps-vk-background-warn;
          }
        }
      }
    }

    .tps-long-response {
      width: 260px;

      .output-data {
        width: 100%;
      }
    }

    .tps-short-response {
      width: 130px;

      .output-data {
        width: 100%;
      }
    }

    .tps-output-field {
      position: relative;
      min-height: 40px;
      margin: 8px;
      border-bottom: 1px solid rgb(224,224,224);

      input {
        border: 0;
      }

      .output-label {
        font-size: 12px;
        white-space: pre;
        word-wrap: normal;
      }

      .output-data {
        position: absolute;
        bottom: 0;
        left: 0;
        text-overflow: ellipsis;
      }
    }
  }
}
