.servicerutine-dashboard {

  //padding: 10px;

  .tps-vk-top {
    margin-bottom: 10px;
    //position: relative;
    //
    //.submit-container {
    //  position: absolute;
    //  bottom: 0;
    //  right: 0;
    //}

    .md-datepicker-input-container {
      margin-top: 26px;
      width: 250px;
    }

    md-input-container {
      margin-bottom: 0;
      width: 250px;
    }

    .md-datepicker-button {
      margin: 0;
      padding: 0;
    }
  }

  .tps-vk-bottom {
    //padding: 10px;

    .tps-long-response {
      //background-color: #00AA00;
      width: 260px;

      //.output-label {
      //  width: 200px;
      //}

      .output-data {
        width: 100%;
      }
    }

    .tps-short-response {
      width: 130px;

      //.output-label {
      //  width: 100px;
      //}

      .output-data {
        width: 100%;
      }
    }

    .tps-output-field {
      position: relative;
      min-height: 40px;
      margin: 8px;
      border-bottom: 1px solid rgb(224,224,224);

      input {
        border: 0;
      }

      .output-label {
        font-size: 12px;
        white-space: pre;
        word-wrap: normal;
      }

      .output-data {
        position: absolute;
        bottom: 0;
        left: 0;
        text-overflow: ellipsis;
      }
    }
  }
}
