.servicerutine-dashboard {
  padding: 10px;
  .tps-vk-top {
    margin-bottom: 10px;

    .md-datepicker-input-container {
      margin-top: 26px;
      width: 250px;
    }

    md-input-container {
      margin-bottom: 0;
      width: 250px;
    }

    .md-datepicker-button {
      margin: 0;
      padding: 0;
    }
  }

  .tps-vk-bottom {
    //padding: 10px;
    .tps-output-field {
      position: relative;
      min-height: 40px;
      margin: 10px 10px 10px 10px;

      .output-label {
        font-size: 13px;
      }
      .output-data {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 250px;
        border-bottom: 1px solid rgb(224,224,224);
      }
    }
  }
}
