#side-navigator {
  z-index: 1;

  .servicerutine-list-item {
    width: 100%;
  }

  .servicerutine-item-text {
    width: 100%;
  }

  .servicerutine-button {
    width: 100%;
    text-align: left;
  }

  .activeMenuButton {
    background-color: rgba(193, 193, 193, 0.96);
    color: rgba(44, 65, 164, 0.96);
  }
}
