#side-navigator {
  z-index: 1;

  .service-rutine-list-item {
    width: 100%;
  }

  .service-rutine-header-list-item {
    width: 100%;
    padding: 0;
    h3 {
      width: 100%;
      padding: 0 12px;
    }
  }

  .service-rutine-item-text {
    width: 100%;
  }

  .service-rutine-button {
    width: 100%;
    text-align: left;
  }

  .activeMenuButton {
    background-color: rgba(238, 238, 238, 0.96);
    //color: rgba(44, 65, 164, 0.96);
  }
}
