<div class="servicerutine-dashboard" ng-controller="servicerutineCtrl" layout="column" class="md-primary md-hue-3" flex>
    <md-content flex-gt-sm="30" class="tps-vk-top md-whiteframe-z2">
        <form ng-submit="submit()">
            <div layout-gt-sm="row" layout="column" layout-wrap>
                <tps-input-field field-data="fieldData" ng-repeat="fieldData in fields" flex-gt-sm="33"></tps-input-field>
                <span flex="33"></span> <!-- -->
            </div>
            <md-divider></md-divider>
            <div layout-gt-sm="row" layout="column">
                <span flex-gt-sm></span>
                <md-input-container>
                    <label>Miljø</label>
                    <md-select ng-model="environment">
                        <md-option ng-repeat="env in environments" value="{{env}}">{{ env }}</md-option>
                    </md-select>
                </md-input-container>
                <md-button type="submit" class="md-raised md-accent">Send til TPS</md-button>
            </div>
        </form>
    </md-content>
    <md-content flex-gt-sm="70" class="tps-vk-bottom md-whiteframe-z2" >
    </md-content>
</div>
