<div class="tps-meldinger-dashboard" layout-padding ng-cloak>
    <div layout="column" flex>
        <div layout="row" class="tpsf-meldinger-progress-bar" flex style="margin-left: 10px; margin-top: 10px;" ng-show="showSpinner">
            <md-progress-linear md-mode="indeterminate"></md-progress-linear>
        </div>
        <div layout="row" layout-gt-md="row" class="tpsf-meldinger-container">
            <div layout="column" flex-gt-md="66" style="margin-top:15px;">
                <div layout="row">
                    <h3 class="tpsf-meldinger-header">SKD Endringsmeldinger<span ng-show="meldinger.length>0">&nbsp;({{meldinger.length}})</span></h3>
                    <paginering length="meldinger.length" pager="pager" page-size="10" layout="column" flex layout-align="start end"></paginering>
                </div>
                <md-card id="tpsf-meldinger-main" class="tps-vk-top">
                    <md-card-content flex class="tpsf-meldinger-card-content md-whiteframe-1p">
                        <div class="md-raised" style="height: 150px; text-align: center; margin-top: 50px;"
                             flex layout-align="center center"
                             ng-show="!meldinger || meldinger.length == 0">
                            <div>
                                <md-icon md-svg-icon="assets/icons/ic_message_black_24px.svg"
                                         class="tpsf-meldinger-big-icon"></md-icon>
                            </div>
                            <div>Ingen meldinger er lagt til ennå</div>
                        </div>
                        <div layout="row" style="margin-top: 3px;" flex ng-if="meldinger.length > 0">

                            <md-checkbox data-ng-model="alleMeldinger.checked" ng-click="velgAlle()" flex="15">
                                Velg&nbsp;alle<span ng-if="visEndret">&nbsp;endrede</span>
                            </md-checkbox>

                            <div style="margin-top: 2px;">
                                Valgt:&nbsp;{{antallValgt}}
                            </div>

                            <div layout="row" layout-align="end center" flex style="margin-top: -13px;">
                                <div ng-show="visEndret" flex="10">
                                    Endret:&nbsp;{{antallEndret}}
                                </div>

                                <md-button class="md-accent md-raised md-title" ng-click="sletteDialog()"
                                           ng-disabled="antallValgt == 0" ng-if="!visEndret"
                                           aria-label="Slett valgte rader">Slett
                                </md-button>
                                <md-button class="md-accent md-raised md-title" ng-disabled="antallValgt == 0" ng-show="visEndret"
                                           ng-click="avbryteDialog()"
                                           aria-label="Avbryt valgte rader">Avbryt endring
                                </md-button>

                                <md-button class="md-accent md-raised md-title" ng-show="visEndret"
                                           ng-disabled="antallValgt == 0 || !requestForm.$valid" ng-click="lagre()"
                                           aria-label="Lagre valgte rader">Lagre
                                </md-button>
                                <md-button class="md-accent md-raised md-title"
                                           ng-click="toggleAlleFaner()"
                                           aria-label="Åpne/lukke alle">
                                    <md-icon ng-class="{flipped: aapneAlleFaner}"
                                             md-svg-icon="assets/icons/keyboard_arrow_down.svg"></md-icon>
                                    <span ng-if="!aapneAlleFaner">Åpne alle</span>
                                    <span ng-if="aapneAlleFaner">Lukke alle</span>
                                </md-button>
                            </div>
                        </div>
                    </md-card-content>
                </md-card>

                <!-- Resulting Response -->

                <form name="requestForm" class="tps-vk-top" style="background-color: transparent;">

                    <div ng-repeat="melding in page">
                        <md-card id="melding_{{$index + pager.startIndex}}" flex md-whiteframe="{{height}}"
                                 ng-init="height = 1"
                                 ng-mouseover="height = 5"
                                 ng-mouseleave="height = 1" ng-class="control[$index].aapen ? 'tpsf-meldinger-open-card' : ''">
                            <md-card-content flex class="tpsf-meldinger-card-content">
                                <div class="tps-vk-form noframe" layout="row" style="font-style: oblique;" ng-click="toggleFane($index + pager.startIndex)">
                                    <md-checkbox flex="5" class="marker-inntekt-sjekkboks"
                                                 ng-model="control[$index + pager.startIndex].velg"
                                                 ng-change="oppdaterValgt($index + pager.startIndex)"
                                                 ng-disabled="control[$index + pager.startIndex].disabled"
                                                 aria-label="Marker melding{{melding.ident}} for sletting"
                                                 ng-click="checkIt()">
                                    </md-checkbox>
                                    <div flex="85">{{melding.beskrivelse}}</div>
                                    <div flex></div>
                                    <div flex="5" ng-if="control[$index + pager.startIndex].endret" style="color: red;">Endret</div>
                                    <div flex="5">
                                        <md-button id="cancel" ng-class="{flipped: control[$index + pager.startIndex].aapen}"
                                                   class="md-icon-button"
                                                   type="button" style="margin-top: -10px;"
                                                   aria-label="Vis meldinger detaljer"
                                                   ng-disabled="!requestForm.$valid">
                                            <md-icon md-svg-icon="assets/icons/keyboard_arrow_down.svg"></md-icon>
                                        </md-button>
                                    </div>
                                </div>
                                <div layout="row" ng-if="control[$index + pager.startIndex].aapen">
                                    <div class="line" flex="auto" ng-cloak>
                                        <div layout="row">
                                            <md-input-container class="tps-vk-input-container" flex>
                                                <md-tooltip>Meldingsbeskrivelse</md-tooltip>
                                                <label>Beskrivelse av melding</label>
                                                <input name="navnBeskrivelse" ng-required="true" md-maxlength="200"
                                                       ng-model="melding.beskrivelse" ng-change="endret($index + pager.startIndex)"/>
                                                <div ng-messages="requestForm.navnBeskrivelse.$error"
                                                     ng-show="requestForm.navnBeskrivelse.$dirty">
                                                    <div ng-message="required">Feltet er påkrevd</div>
                                                    <div ng-message="md-maxlength">Verdi har for mange tegn</div>
                                                </div>
                                            </md-input-container>
                                        </div>

                                        <div ng-include="meldingstypeT1" ng-if="melding.meldingstype === 't1'"></div>
                                        <div ng-include="meldingstypeT2" ng-if="melding.meldingstype === 't2'"></div>

                                        <md-button ng-class="meldingAsText[$index + pager.startIndex] ? 'md-title nav-blaa-ready' : 'md-title nav-blaa'" style="margin: -8px 0 0 0;"
                                                   ng-mouseover="convertMelding($index + pager.startIndex)"
                                                   ng-click="copyToClipboard($index + pager.startIndex)"
                                                   aria-label="Kopier til utklippstavle">
                                            <md-icon md-svg-icon="assets/icons/ic_content_copy_black_24px.svg" class="nav-blaa" style="margin-top: -3px;"></md-icon>
                                            Kopier til utklippstavle
                                        </md-button>
                                    </div>
                                </div>
                            </md-card-content>
                        </md-card>
                    </div>
                </form>
            </div>
            <div flex-gt-md="33">
                <vis-gruppeinfo service="service" gruppe-id="gruppeId"></vis-gruppeinfo>
                <vis-innsendingslogg service="service" gruppe-id="gruppeId"></vis-innsendingslogg>
            </div>
        </div>
    </div>
</div>