<div class="tps-vk-service-rutine-dashboard" layout="column" class="md-primary md-hue-3" flex layout-padding ng-cloak>

    <div class="tps-vk-top md-whiteframe-z2">
        <h2>Oppslag på Geografisk Tilknytning</h2>
        <form name="requestForm" ng-submit="requestForm.$valid && submit()" layout="row" layout-align="start start" flex="60">
            <tps-input-field flex="40" input-param-name="'fnr'" form-data="formData" select-values=""></tps-input-field>

            <md-input-container flex="40" class="tps-vk-input-container">
                <label>Miljø</label>
                <md-select ng-model="formData.environment" required>
                    <md-option ng-repeat="env in environments" value="{{env}}">{{ env }}</md-option>
                </md-select>
            </md-input-container>

            <md-button align="center" type="submit" class="md-raised md-accent md-ink-ripple tps-vk-submit-btn">
                Finn GT
            </md-button>
        </form>
    </div>


    <!-- Resulting Response -->
    <md-content flex="95" class="tps-vk-bottom md-whiteframe-z2">
        <!-- Setup Tabs -->
        <md-tabs md-border-bottom class="tps-vk-scrollable-tabs">
            <!-- Tab Readable Result -->
            <md-tab label="Resultat" style="background-color: rgb(250,250,250)">
                <!-- Include HTML file "response.html" -->
                <div class="tps-vk-top">
                    <form name="responseForm" layout="column" layout-align="start start" flex="90">
                        <h2>Utledet GT</h2>
                        <div layout="row">
                            <tps-output-field flex="20" label="Regel" field-model="gt.bruker.regelForGeografiskTilknytning"></tps-output-field>
                            <span flex="40"></span>
                            <a flex="40" target="_blank" title="Beskrivelse av regler for Geografisk Tilknytning"
                               href="https://confluence.adeo.no/display/FEL/K411GETI+Utlede+Geografisk+Tilknytning">GT regelverk</a>
                        </div>
                        <div layout="row">
                            <tps-output-field label="Landkode" flex="20" field-model="gt.bruker.geografiskTilknytning.landkode"></tps-output-field>
                            <tps-output-field label="Kommunennr" flex="20" field-model="gt.bruker.geografiskTilknytning.kommunenr"></tps-output-field>
                            <tps-output-field label="Bydel" flex="20" field-model="gt.bruker.geografiskTilknytning.bydel"></tps-output-field>
                        </div>

                        <h2>Person</h2>
                        <div layout="row">
                            <tps-output-field label="Personnavn" flex="80" field-model="gt.personnavn.gjeldendePersonnavn"></tps-output-field>
                        </div>
                        <div layout="row">
                            <tps-output-field label="ID" field-model="gt.fodselsnummer"></tps-output-field>
                            <tps-output-field label="Identtype" flex="20" field-model="gt.identType"></tps-output-field>
                        </div>
                        <div layout="row">
                            <tps-output-field label="Personstatus" flex="20" field-model="gt.personstatusDetalj.kodePersonstatus"
                                              title="{{gt.personstatusDetalj.kodePersonstatusBeskr}}"></tps-output-field>
                            <tps-output-field label="Spesreg" flex="20" field-model="gt.bruker.diskresjonDetalj.kodeDiskresjon"
                                              title="{{gt.bruker.diskresjonDetalj.kodeDiskresjonBeskr}}"></tps-output-field>
                        </div>

                        <h2>Boadresse Historikk</h2>
                        <div layout="column">
                            <div layout="row" >
                                <tps-output-field label="Boadresse 1" flex="30" field-model="adresseHistorikk.boAdresser.boAdresse[1].boAdresse1" title="Boadresse"></tps-output-field>
                                <tps-output-field label="Postnummer" flex="15" field-model="adresseHistorikk.boAdresser.boAdresse[1].postnr" title="Postnummer"></tps-output-field>
                                <tps-output-field label="Poststed" flex="30" field-model="adresseHistorikk.boAdresser.boAdresse[1].poststed" title="Poststed"></tps-output-field>
                                <tps-output-field label="TK Nummer" flex="15" field-model="adresseHistorikk.boAdresser.boAdresse[1].tknr" title="tknr"></tps-output-field>
                                <tps-output-field label="Endringstype" flex="15" field-model="adresseHistorikk.boAdresser.boAdresse[1].endringsType" title="Endringstype"></tps-output-field>
                                <tps-output-field label="Dato F.O.M" flex="30" field-model="adresseHistorikk.boAdresser.boAdresse[1].adresseFom" title="Dato FOM"></tps-output-field>
                                <tps-output-field label="Adresse T.O.M" flex="30" field-model="adresseHistorikk.boAdresser.boAdresse[1].adresseTom" title="Dato TOM"></tps-output-field>
                            </div>
                            <div layout="row"
                                 ng-if="isArray(adresseHistorikk['boAdresser']['boAdresse'][0])"
                                 ng-repeat="adresse in adresseHistorikk.boAdresser.boAdresse[0]">
                                <tps-output-field label="Boadresse 1" flex="30" field-model="adresse.boAdresse1" title="Boadresse"></tps-output-field>
                                <tps-output-field label="Postnummer" flex="15" field-model="adresse.postnr" title="Postnummer"></tps-output-field>
                                <tps-output-field label="Poststed" flex="30" field-model="adresse.poststed" title="Poststed"></tps-output-field>
                                <tps-output-field label="TK Nummer" flex="15" field-model="adresse.tknr" title="tknr"></tps-output-field>
                                <tps-output-field label="Endringstype" flex="15" field-model="adresse.endringsType" title="Endringstype"></tps-output-field>
                                <tps-output-field label="Dato F.O.M" flex="30" field-model="adresse.adresseFom" title="Dato FOM"></tps-output-field>
                                <tps-output-field label="Adresse T.O.M" flex="30" field-model="adresse.adresseTom" title="Dato TOM"></tps-output-field>
                            </div>
                        </div>

                        <h2>Adresselinje Historikk</h2>
                        <div layout="column">
                            <div layout="row" >
                                <tps-output-field label="Adresse 1" flex="30" field-model="adresseLinjer.adresseLinjeHistorikk.adresseLinje.adresse1" title="Adresse 1"></tps-output-field>
                                <tps-output-field label="Postnummer" flex="15" field-model="adresseLinjer.adresseLinjeHistorikk.adresseLinje.postnr" title="Postnummer"></tps-output-field>
                                <tps-output-field label="Poststed" flex="30" field-model="adresseLinjer.adresseLinjeHistorikk.adresseLinje.poststed" title="Poststed"></tps-output-field>
                                <tps-output-field label="Adresse Type" flex="15" field-model="adresseLinjer.adresseLinjeHistorikk.adresseLinje.adresseType" title="Poststed"></tps-output-field>
                                <tps-output-field label="Dato F.O.M" flex="30" field-model="adresseLinjer.adresseLinjeHistorikk.adresseLinje.datoFom" title="Dato FOM"></tps-output-field>
                                <tps-output-field label="Adresse T.O.M" flex="30" field-model="adresseLinjer.adresseLinjeHistorikk.adresseLinje.datoTom" title="Dato TOM"></tps-output-field>
                            </div>

                            <div layout="row"
                                 ng-if="isArray(adresseLinjer['adresseLinjeHistorikk']['adresseLinje'])"
                                 ng-repeat="adresse in adresseLinjer.adresseLinjeHistorikk.adresseLinje">
                                <tps-output-field label="Adresse 1" flex="30" field-model="adresse.adresse1" title="Adresse 1"></tps-output-field>
                                <tps-output-field label="Postnummer" flex="15" field-model="adresse.postnr" title="Postnummer"></tps-output-field>
                                <tps-output-field label="Poststed" flex="30" field-model="adresse.poststed" title="Poststed"></tps-output-field>
                                <tps-output-field label="Adresse Type" flex="15" field-model="adresse.adresseType" title="Poststed"></tps-output-field>
                                <tps-output-field label="Dato F.O.M" flex="30" field-model="adresse.datoFom" title="Dato FOM"></tps-output-field>
                                <tps-output-field label="Adresse T.O.M" flex="30" field-model="adresse.datoTom" title="Dato TOM"></tps-output-field>
                            </div>
                        </div>

                        <h2>Utvandring Historikk</h2>
                        <div layout="row">
                            <tps-output-field label="Antall Utvandringer" flex="30" field-model="utvandring.antallUtvandring" title="AntallUtvandring"></tps-output-field>
                        </div>

                    </form>
                </div>
            </md-tab>
            <!-- Tab XML Result -->
            <md-tab label="XML">
                <div class="tps-vk-xml-panel" hljs hljs-source="xmlForm" hljs-language="xml">
                </div>
            </md-tab>
        </md-tabs>
    </md-content>

    <!-- Footer Response -->
    <md-content flex="5" class="tps-vk-status-container md-whiteframe-z2" layout="row" layout-align="center center">
        <div class="tps-vk-hits" flex="50" layout="row">
            <div class="tps-vk-hits-meesage" ng-show="gt">
                Treff: {{antallTreff}}
            </div>
        </div>

        <div class="tps-vk-status" flex="50" ng-show="statusMld">
            <ng-md-icon class="tps-vk-status-icon" ng-class="okStatus ? 'success' : 'error'"
                        icon="fiber_manual_record"></ng-md-icon>
            <div class="tps-vk-status-message">
                {{statusMld}}
            </div>
        </div>
    </md-content>
</div>