<div class="tps-vk-service-rutine-dashboard" layout="column" class="md-primary md-hue-3" flex layout-padding ng-cloak>

    <div class="tps-vk-top md-whiteframe-z2">
        <h2>Geografisk Tilknytning</h2>
        <form name="requestForm" ng-submit="requestForm.$valid && submit()" layout="row" layout-align="start start" flex="60">
            <tps-input-field flex="40" input-param-name="'fnr'" form-data="formData" select-values=""></tps-input-field>

            <md-input-container flex="40" class="tps-vk-input-container">
                <label>Miljø</label>
                <md-select ng-model="formData.environment" required>
                    <md-option ng-repeat="env in environments" value="{{env}}">{{ env }}</md-option>
                </md-select>
            </md-input-container>

            <md-button align="center" type="submit" class="md-raised md-accent md-ink-ripple tps-vk-submit-btn">
                Finn GT
            </md-button>
        </form>
    </div>
    <div class="tps-vk-top md-whiteframe-z2">
        <h2>Geografisk Tilknytning</h2>
        <form name="responseForm" layout-align="start start" flex="60">
            <tps-output-field label="Regel" field-model="gt.bruker.regelForGeografiskTilknytning" ><br></tps-output-field>
            <tps-output-field label="Landkode" field-model="gt.bruker.geografiskTilknytning.landkode" ></tps-output-field>
            <tps-output-field label="Kommunennr" field-model="gt.bruker.geografiskTilknytning.kommunenr" ></tps-output-field>
            <tps-output-field label="Bydel" field-model="gt.bruker.geografiskTilknytning.bydel" ></tps-output-field>

            <h2>Person</h2>
            <tps-output-field label="Personnavn" field-model="gt.personnavn.gjeldendePersonnavn"></tps-output-field>
            <tps-output-field label="ID" field-model="gt.fodselsnummer"></tps-output-field>
            <tps-output-field label="Identtype" field-model="gt.identType"></tps-output-field>
            <tps-output-field label="Personstatus" field-model="gt.personstatusDetalj.kodePersonstatus"
                              title="{{gt.personstatusDetalj.kodePersonstatusBeskr}}"></tps-output-field>
            <tps-output-field label="Spesreg" field-model="gt.bruker.diskresjonDetalj.kodeDiskresjon"
                              title="{{gt.bruker.diskresjonDetalj.kodeDiskresjonBeskr}}"></tps-output-field>
        </form>

    </div>
</div>