<div layout="row" layout-align="center center">
    <md-toolbar class="md-primary">
        <nav role="navigation" id="navigation">
            <div class="md-toolbar-tools">
                <div layout="row" layout-align="start center">
                    <md-button ng-click="toggleSideNav('left')" class="md-icon-button" hide-gt-md aria-label="Menu">
                        <ng-md-icon icon="menu"></ng-md-icon>
                    </md-button>
                    <a ui-sref="servicerutine({serviceRutineName: null})" rel="home" >
                        <h1>TPS Forvalteren</h1>
                    </a>
                </div>
                <div flex-gt-xs="5"></div>
                <!-- Person Button -->
                <md-button id="tps-vk-rutiner-button" class="md-raised md-accent" ng-click="serviceRutineState()" >
                    Rutiner
                </md-button>

                <!-- Person Button -->
                <md-button id="tps-vk-rutiner-button" class="md-raised md-accent" ng-click="openGT()" >
                    GT
                </md-button>

                <!-- Testdata-->
                <md-button id="tps-vk-rutiner-button" class="md-raised md-accent" ng-click="openShowTestdata()" >
                    Testdata
                </md-button>
                <span flex-gt-xs></span>

                <!-- Upper right names -->
                <div layout="column" class="tps-vk-user-info">
                    <div class="md-body-1">{{currentUser.username}}</div>
                    <!-- <div class="md-body-2">{{currentUser.name}}</div> -->
                </div>
                <div flex-gt-xs="5"></div>

                <!-- Logout Button -->
                <md-button id="tps-vk-logout-button" class="md-raised md-accent" ng-click="logout()" >
                    Logg ut
                </md-button>

            </div>
        </nav>
    </md-toolbar>
</div>
