<div id="tps-vk-header">

    <md-toolbar class="md-primary tps-vk-header-toolbar">

            <div class="md-toolbar-tools" layout="row" layout-align="start center">

                <!-- Logo -->
                <div flex="5" layout="row" layout-align="start center">
                    <a style="cursor: pointer;" ng-click="goHome()" >
                        <img class="logo-image" src="assets/icons/nav-logo-hvit.png" style="height: 41px; margin-top: 5px;">
                    </a>
                </div>

                <!-- App Name left corner -->
                <div class="tps-vk-header-default-container left-border" layout="row" layout-align="start center" flex="20" >
                    <a style="cursor: pointer;" ng-click="goHome()">
                        <div class="tps-vk-header-h1">TPS-Forvalteren</div>
                    </a>
                </div>

                <!-- Navigation Buttons -->
                <div class="tps-vk-header-default-container" layout="row" layout-align="start center" flex="50">
                    <div layout-align="center">
                        <u class="tps-vk-header-route-text" ng-click="openGT()"> Geografisk tilknytning </u>
                    </div>

                    <div flex-gt-xs="5"></div>

                    <div layout-align="center" ng-if="visTestdataKnapp">
                        <u class="tps-vk-header-route-text" ng-click="openVisTestdata()"> Testdata </u>
                    </div>
                </div>

                <!-- Upper right name and logout button -->
                <div class="tps-vk-header-default-container" flex="25" layout="row" layout-align="end center">
                    <div class="tps-vk-header-route-text" style="border-color: #cf412a">
                        <div class="md-body-1">Bruker: {{currentUser.username}}</div>
                    </div>

                    <div flex-gt-xs="5"></div>

                    <u class="tps-vk-header-route-text" ng-click="logout()">Logg ut</u>
                    <div flex-gt-xs="5"></div>
                </div>

            </div>
    </md-toolbar>
    <div layout="row" class="header2" ng-show="!isRoot">
            <md-button ng-click="goBack()" style="margin-left: 1%;">
                <md-icon md-svg-icon="assets/icons/ic_arrow_back_black_24px.svg" style="margin-top: -2px;"></md-icon>
                Tilbake
            </md-button>
        <div flex>
            <h1 style="margin-top: 5px; margin-left: -7%; text-align: center" ng-bind="header.name"></h1>
        </div>
    </div>
    <div layout="row" class="header3" ng-show="!isRoot && header.buttons" layout-align="center center" style="padding-bottom: 10px;">
        <div ng-repeat="button in header.buttons">
            <md-button class="md-title nav-blaa" ng-click="clickButton($index)">
                <md-icon ng-if="button.icon" md-svg-icon="{{button.icon}}" class="nav-blaa" style="margin-top: -3px;"></md-icon>
                {{button.text}}</md-button>
            </md-button>
        </div>
    </div>
</div>