<!--<div class="dashboard" ng-controller="dashboardCtrl" layout="column" class="md-primary md-hue-3" flex>-->
    <!--<md-content flex-gt-sm="30" class="tps-vk-top md-whiteframe-z2">-->
        <!--<form ng-submit="submit()">-->
            <!--<div layout-gt-sm="row" layout="column" layout-wrap>-->
                <!--&lt;!&ndash;<tps-input-field></tps-input-field>&ndash;&gt;-->
                <!--&lt;!&ndash;<tps-input-field content="field" ng-repeat="field in fields"></tps-input-field>&ndash;&gt;-->



                <!--<div ng-repeat="field in fields" flex-gt-sm="33">-->

                    <!--<div ng-switch="field.type">-->
                        <!--<div ng-switch-when="text">-->
                            <!--<tps-text-field></tps-text-field>-->
                        <!--</div>-->

                        <!--<div ng-switch-when="date" class="dateFieldContainer">-->
                            <!--<tps-date-field></tps-date-field>-->
                        <!--</div>-->

                        <!--<div ng-switch-when="select">-->
                            <!--<tps-select-field ></tps-select-field>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<span flex="33"></span>-->
            <!--</div>-->
            <!--<md-divider></md-divider>-->
            <!--<div layout-gt-sm="row" layout="column">-->
                <!--&lt;!&ndash;<span flex></span>&ndash;&gt;-->
                <!--<md-input-container>-->
                    <!--<label>Miljø</label>-->
                    <!--<md-select ng-model="miljo.value">-->
                        <!--<md-option ng-repeat="val in miljo.values" value="{{val}}">{{ val }}</md-option>-->
                    <!--</md-select>-->
                <!--</md-input-container>-->
                <!--<md-button type="submit" class="md-raised md-accent">Send til TPS</md-button>-->
            <!--</div>-->
        <!--</form>-->
    <!--</md-content>-->
    <!--<md-content flex-gt-sm="70" class="tps-vk-bottom md-whiteframe-z2" >-->
    <!--</md-content>-->
<!--</div>-->


