<div ng-controller="loginCtrl", layout="column", layout-align="center center", layout-fill>
    <!--<h1>{{title}}</h1>-->
    <div class="loginBox md-whiteframe-z1", layout="column">
        <md-toolbar>
            <h2 class="md-toolbar-tools"><span ng-bind="title"></span></h2>
        </md-toolbar>

        <md-content layout="column" class="md-padding">
            <form name="loginForm" class="" method="get" ng-submit="login()" novalidate >
                <md-input-container>
                    <label>Brukernavn</label>
                    <!--<input type="text" ng-model="username"/>-->
                    <input ng-model="credentials.username" name="username" type="text" ng-required="true" >
                    <ng-messages for="loginForm.username.$error" >
                        <ng-message when="required" ng-show="loginForm.password.$touched">
                            Brukernavn er tomt
                        </ng-message>
                    </ng-messages>
                </md-input-container>
                <md-input-container>
                    <label>Passord</label>
                    <!--<input type="password" ng-model="password"/>-->
                    <input ng-model="credentials.password" name="password" type="password" ng-required="true">
                    <ng-messages for="loginForm.password.$error" >
                    <ng-message when="required" ng-show="loginForm.password.$touched">
                    Passord er tomt
                    </ng-message>
                    </ng-messages>
                </md-input-container>
                <md-input-container>
                    <md-button class="md-raised login" name="login" type="submit" aria-label="Logg inn" ng-disabled="loginForm.$invalid || !loginForm.$dirty || pendingRequest">
                        Logg inn
                    </md-button>
                </md-input-container>
                <!--<div layout="row" layout-align="center center" style="padding-top:20px;">-->
                    <!--<md-button class="md-raised md-primary">Logg inn</md-button>-->

                    <!--&lt;!&ndash;-->
                    <!--<div flex="flex"></div>-->
                    <!--<md-button href="" md-no-ink="md-no-ink">Forgot Password</md-button>-->
                    <!--&ndash;&gt;-->
                <!--</div>-->
                <div class="form-error-container">
                    <div ng-show="authenticationError">
                        Feil brukernavn eller passord
                    </div>
                    <div ng-show="serverError">
                        En feil oppstod
                    </div>
                </div>

                <div>
                    <md-progress-linear md-mode="indeterminate" ng-show="pendingRequest"></md-progress-linear>
                </div>
            </form>

        </md-content>
    </div>
</div>