<div id="tps-vk-login-page" class="md-background" layout="column" layout-align="center center" layout-fill>
    <div class="tps-vk-login-box md-whiteframe-z2" layout="column">
        <md-toolbar class="tps-vk-login-toolbar">
            <h2 class="md-toolbar-tools"><span ng-bind="title"></span></h2>
        </md-toolbar>
        <md-content layout="column"  layout-align="center" layout-padding>
            <form name="loginForm" class="tps-vk-form" method="get" ng-submit="login()" novalidate >
                <md-input-container class="tps-vk-input">
                    <label>Brukernavn</label>
                    <input ng-model="credentials.username" name="username" type="text" ng-required="true" >
                    <ng-messages for="loginForm.username.$error" >
                        <ng-message when="required" ng-show="loginForm.password.$touched">
                            Brukernavn er tomt
                        </ng-message>
                    </ng-messages>
                </md-input-container>
                <md-input-container class="tps-vk-input">
                    <label>Passord</label>
                    <input ng-model="credentials.password" name="password" type="password" ng-required="true">
                    <ng-messages for="loginForm.password.$error" >
                        <ng-message when="required" ng-show="loginForm.password.$touched">
                            Passord er tomt
                        </ng-message>
                    </ng-messages>
                </md-input-container>
                <md-input-container class="tps-vk-btn-container">
                    <md-button class="md-raised md-primary md-button md-ink-ripple" name="login" type="submit"
                               ng-disabled="loginForm.$invalid || !loginForm.$dirty || pendingRequest">
                        Logg inn
                    </md-button>
                </md-input-container>
                <div class="tps-vk-form-error-container">
                    <div class="tps-vk-error" ng-show="authenticationError">
                        Autentisering mislyktes! Vennligst sjekk din påloggingsinformasjon og prøv igjen.
                    </div>
                    <div class="tps-vk-error" ng-show="serverError">
                        Det oppstod en feil på serveren.
                    </div>
                    <div class="tps-vk-error" ng-show="forbiddenError">
                        Du har ikke tilgang til denne applikasjonen.
                    </div>
                </div>
                <div>
                    <md-progress-linear md-mode="indeterminate" ng-show="pendingRequest"></md-progress-linear>
                </div>
            </form>
        </md-content>
    </div>
</div>
