<div ng-controller="loginCtrl" layout="column", layout-align="center center", layout-fill>
    <div class="loginBox md-whiteframe-z1", layout="column">
        <md-content layout="column" class="md-padding">
            <md-input-container>
                <label>Brukernavn</label>
                <input type="text" ng-model="credentials.username"/>
            </md-input-container>
            <md-input-container>
                <label>Passord</label>
                <input type="password" ng-model="credentials.password"/>
            </md-input-container>
            <div layout="row" layout-align="center center" style="padding-top:20px;">
                <md-button class="md-raised md-primary">Logg inn</md-button>
            </div>
        </md-content>
        <md-toolbar>
            <h2 class="md-toolbar-tools"><span>Login</span></h2>
        </md-toolbar>

        <button ng-click="login()">test</button>

    </div>
</div>